[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Testing
factory-boy = "~=3.2.1"
pytest = "~=7.1.2"
pytest-cov = "~=3.0.0"
pytest-mock = "~=3.8.1"

# Lint and code style
black = "~=22.6"
flake8 = "~=4.0.1"
flake8-blind-except = "~=0.2.0"
flake8-debugger = "~=4.1.2"
flake8-docstrings = "~=1.6.0"
flake8-isort = "~=4.1.1"
isort = "~=5.10.1"
mypy = "~=0.961"
pep8-naming = "~=0.13.2"
pylint = "~=2.14"

# type hints
types-beautifulsoup4 = "~=4.11.3"
types-setuptools = "~=63.2"
types-psutil = "~=5.9"
types-requests = "~=2.28.1"

# Documentation and Docstrings
# pyment = "~=0.3.4"
pyment = {git = "https://github.com/dadadel/pyment",editable = true}

[packages]
SQLAlchemy = "~=1.4.39"
# for Postgresql
psycopg2 = "~=2.9.3"
alembic = "~=1.8.1"
gpiozero = "~=1.6.2"
netifaces = "~=0.11.0"
click = "~=8.1.3"
psutil = "~=5.9.1"
pika = "~=1.3"
celery = "~=5.2.7"
multiprocessing-logging = "~=0.3.3"
# Environment and variable parsing
environs = "~=9.5.0"
# basic scheduler
schedule = "~=1.1.0"
# for reading temperature from owfs webserver
requests = "~=2.28"
beautifulsoup4 = "~=4.11.1"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.10"
