[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Testing
factory-boy = "~=3.2.0"
pytest = "~=6.2.5"
pytest-cov = "*"
pytest-mock = "~=3.6.1"

# Lint and code style
black = "~=21.9b0"
flake8 = "~=3.9.2"
flake8-blind-except = "~=0.2.0"
flake8-debugger = "~=4.0.0"
flake8-docstrings = "~=1.6.0"
flake8-isort = "~=4.0.0"
isort = "~=5.9.3"
mypy = "~=0.910"
pep8-naming = "~=0.12.1"
pylint = "~=2.11.1"

# type hints
types-beautifulsoup4 = "~=4.10.1"
types-setuptools = "~=57.4.0"
types-psutil = "~=5.8.12"
types-requests = "~=2.25.9"
# this is needed only until click is updated to v8+ (celery depends on v7.1.2)
types-click = "~=7.1.5"

"e1839a8" = {path = ".", editable = true}

# Documentation and Docstrings
# pyment = "~=0.3.4"
pyment = {git = "https://github.com/dadadel/pyment",editable = true}

[packages]
SQLAlchemy = "~=1.4.25"
# for Postgresql
psycopg2 = "~=2.9.1"
alembic = "~=1.7.3"
gpiozero = "~=1.6.2"
netifaces = "~=0.11.0"
click = "~=7.1.2"
psutil = "~=5.8.0"
pika = "~=1.2.0"
celery = "~=5.1.2"
multiprocessing-logging = "~=0.3.0"
# Environment and variable parsing
environs = "~=9.3.2"
# basic scheduler
schedule = "~=1.1.0"
# for reading temperature from owfs webserver
requests = "~=2.26.0"
beautifulsoup4 = "~=4.10.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true